DATABASE_URL="postgresql://simple_account_user:simple_account_pass@localhost:15432/simple_account?schema=public"
PORT=3003
JWT_SECRET="REPLACE_WITH_A_LONG_RANDOM_SECRET_e.g._run_openssl_rand_-hex_32"
JWT_EXPIRATION="24h"
INVENTORY_ACCOUNTING_ENABLED=true
